NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://user:password@ep-sample-12345.us-east-2.aws.neon.tech/gamehub?sslmode=require
JWT_SECRET=super-secret-jwt-key-gamehub-2026
JWT_REFRESH_SECRET=super-secret-refresh-key-gamehub-2026
CORS_ORIGIN=*
